[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-describe = "*"
pytest--expecter = "*"

[packages]
flask = "*"
gunicorn = "*"

[requires]
python_version = "3.6"
